@media (max-width: 1200px) {
    .reviews-slider .swiper-button-prev::after {
        left: 0px;
    }
    .reviews-slider .swiper-button-next::after {
        right: 0px;
    }
    .promo {
        &__subheader {
            .row {
                justify-content: space-between;
            }
        }
        &__menu {
            width: 325px;
        }
        &__link {
            padding-right: 10px;
        }
    }
    .future {
        &__photo {
            img {
                width: 150px;
                height: 150px;
            }
        }
        &__title {
            font-size: 14px;
        }
        &__descr {
            width: 300px;
        }
    }
    .reviews-slider {
        &_item {
            width: 440px;
        }
        &_photo {
            img {
                width: 90px;
                height: 90px;
            }
        }
        &_card {
            width: 330px;
        }
        &_descr {
            font-size: 14px;
        }
        &_subtitle {
            font-size: 16px;
        }
    }
    .divider {
        width: 992px;
    }
}

@media (max-width: 992px) {
    .divider {
        width: 768px;
    }
    .future {
        &__item {
            width: 200px;
        }
        &__photo {
            img {
                width: 130px;
                height: 130px;
            }
        }
        &__title {
            font-size: 10px;
        }
        &__descr {
            width: 200px;
            font-size: 14px;
        }
    }
    .reviews-slider {
        &_item {
            width: 320px;
        }
        &_photo {
            img {
                width: 60px;
                height: 60px;
            }
        }
        &_card {
            width: 240px;
        }
        &_subtitle {
            font-size: 12px;
        }
        &_data {
            height: 20px;
            padding-top: 4px;
            font-size: 8px;
        }
        &_descr {
            font-size: 10px;
        }
        &_title {
            font-size: 20px;
            line-height: 20px;
        }
    }
    .video {
        &__title {
            font-size: 25px;
            line-height: 25px;
        }
    }
    .footer {
        &__contacts {
            &:before {
                left: -20px;
            }
        }
    }
    .promo {
        &__logo {
            img {
                width: 95%;
            }
        }
        &__events {
            img {
                width: 95%;
            }
        }
        &__contacts {
            img {
                width: 95%;
            }
        }
        &__conference {
            &_banner {
                width: 300px;
            }
            &_inner {
                width: 270px;
            }
            &_data {
                    width: 70px;
                    height: 84px;
            }
            &_title {
                font-size: 12px;
            }
            &_descr {
                width: 170px;
                font-size: 12px;
            }
            &_subtitle {
                font-size: 10px;
            }
        }
        &__company-descr {
            font-size: 14px;
            line-height: 34px;
        }
    } 
}