@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import 'libs/bootstrap-reboot.min';
@import 'libs/bootstrap-grid.scss';
@import 'libs/font';

@import 'basic/variables';
@import 'basic/mixins';
@import 'basic/animation';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/future';
@import 'blocks/reviews';
@import 'blocks/video';
@import 'blocks/clients';
@import 'blocks/footer';

